body {
  font-family: sans-serif;
  background-color: #ececec;
  padding: 25px;
}

h1 {
  font-size: 74px;
  margin: 0px;
  margin-bottom: 45px;
  letter-spacing: -2.5px;
}

#root {
  font-size: 26px;
  line-height: 1.4em;
}
