body {
  font-family: sans-serif;
}

.loading {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-app-region: drag
}
