.DS_Store

dist
lib
lib.test
tmp 
node_modules
.cache
.build
.uiharness
.dev
.publish
.tmp.*

.env
.env*
.__msync.js

npm-debug.log
yarn-error.log
sync.yaml
/TMP.md

code/ui.editor/src/components/TextEditor/plugins/keyMap.ts
