.DS_Store
node_modules

dist
lib
lib.test

.cache
.log/
.build

.cell
/code/*/.dev
.uiharness

.publish
.parcel*

**/msync.*.json
.msync.hidden

.env
.env*
.__msync.js

npm-debug.log
yarn-error.log
sync.yaml

tmp/
.tmp.*
/vscode
