body {
  height: 100%;
  font-family: sans-serif;
  background-color: #f9f9fa;
  color: #383057;
  user-select: none;
  font-size: 16px
}

a { text-decoration: none; }


.title { font-size: 16px; }
.version { font-size: 16px; }
.hash { font-size: 16px; }

.hash-root {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.hash-inner {
  position: relative;
  width: 130px;
  height: 120px;
  overflow-wrap: anywhere;
}

.footer-left { position: absolute; bottom: 20px; left: 20px }
.footer-right { position: absolute; bottom: 20px; right: 25px; }
.mono { font-family: monospace; font-weight: 900; }


/* 
  Colors 
*/

.white { color: #fff } 
.dark { color: #293042; } /* Inky blue/black. */
.red { color: #e21b22 }
.cyan { color: #00B2FF }
.magenta { color: #FE0064 }
