body {
  height: 100%;
  font-family: sans-serif;
  background-color: #f9f9fa;
  color: #383057;
  user-select: none;
}

a { text-decoration: none; }

.title {
  letter-spacing: -0.03em;
  font-size: 46px;
}

.footer-left { position: absolute; bottom: 20px; left: 20px }
.footer-right { position: absolute; bottom: 20px; right: 25px; }

.mono { font-family: monospace; font-weight: 'bold'; font-weight: 900; }
.hash { font-size: 9px; margin-top: 2px; }

/* 
  Colors 
*/

.white { color: #fff } 
.dark { color: #293042; } /* Inky blue/black. */
.red { color: #e21b22 }
.cyan { color: #00B2FF }
.magenta { color: #FE0064 }
